# Node.js dependencies
node_modules

# Build output
dist
build
.vs

# Environment variables
.env

# Logs
log
*.log

# Cache
.cache
coverage
node_modules/.cache

# MacOS
.DS_Store
